<div class="map-filters border d-none">
   <div class="col-6 d-flex">
      <span class="p-input-icon-left">
         <i class="pi pi-search"></i>
      </span>
     
      <span class="p-input-icon-right">
         <i class="pi pi-spin pi-spinner"></i>
      </span>
     </div>
</div> 

<google-map #map height="600px" width="800px" [zoom]="14" [options]="mapOptions" >
   <!-- *ngFor="let marker of markers" [position]="marker" -->
   <!-- [position]="marker.position -->
   <map-marker [position]="marker.position" ></map-marker>
</google-map>


